.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

mat-list {
    height:800px;
    max-height: 60%;
    overflow-y: scroll;
}

mat-icon {
    color: purple;
    cursor: pointer;
}

form {
    position: fixed;
    bottom: 0;
    left: 33%;
}


.mat-list .mat-list-item .mat-line, .mat-nav-list .mat-list-item .mat-line, .mat-selection-list .mat-list-item .mat-line {
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}